/* General Styling */

// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 300 to 800

.open-sans-<uniquifier> {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 400 to 800

.eb-garamond-<uniquifier> {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

body {
    background-color: #1e1e1e;
    color: #f5f5f5;
    font-family: Open Sans, sans-serif;
/*     display: flex;
    justify-content: center;
    align-items: center; */
    height: 100%;
    margin: 0;
}

.container {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin: 10px 0 20px 0;
    padding: 0px 0 20px 0;
}

.heading {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.sub_heading {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    font-family: EB Garamond, serif;
    font-weight: 400;
}

.sub_heading h2 {
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 0px;
}

h1 {
    font-size: 26px;
    margin-bottom: 20px;
}

.sound-card {
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    width: 90%; /* Adjust to fit on smaller screens */
    max-width: 300px;
    margin: 10px auto;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s, border 0.3s;
    border: 2px solid transparent;
}

.sound-card h3 {
    margin: 0;
    font-size: 18px;
    font-weight: 400;
}

input[type="range"] {
    width: 100%;
    margin-top: 15px;
    -webkit-appearance: none;
    appearance: none;
    background-color: #555;
    height: 5px;
    border-radius: 5px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background-color: #f5f5f5;
    border-radius: 50%;
    cursor: pointer;
}

.sound-card.active, .playlist-card.active {
    background-color: #FF5E1F;
    border-color: #E4E1DF;
    box-shadow: rgba(255, 255, 255, 0.52) 0px 10px 100px -20px, rgba(0, 0, 0, 0.3) 0px -10px 60px -30px;

}

/* Responsive Design */
@media (min-width: 320px) {
    .container {
        width: 100%;
    }

    .sound-card {
        max-width: 110px;
        margin: 15px;
    }
    .sound-card h3 {
        font-size: 14px;
    }

    h1 {
        font-size: 22px;
    }
}

@media (min-width: 768px) {
    .container {
        width: 100%;
    }

    .sound-card {
        max-width: 250px;
        margin: 15px;
    }

    h1 {
        font-size: 28px;
    }
}

@media (min-width: 1024px) {
    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .sound-card {
        max-width: 200px;
        margin: 15px;
    }

    h1 {
        font-size: 32px;
    }
}





/* Playlist Section Styling */
.playlist-section {
    margin-top: 40px;
}

.playlist-flex {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    justify-content: center;
    flex-direction: row;
}

.playlist-card {
    background-color: #333;
    border-radius: 10px;
    overflow: hidden;
    width: 180px;
    height: 280px !important;
    position: relative;
    cursor: pointer;
    transition: all 0.4s ease;
}

.playlist-card:hover {
    transform: scale(1.05);
}

.playlist-card img {
    width: 100%;
    height: auto;
}

.playlist-info {
    padding: 10px;
    text-align: center;
}

.playlist-info h3 {
    font-size: 1rem;
    color: #f5f5f5;
}

.playlist-info p {
    font-size: 0.8rem;
    color: #bbb;
}

/* .playlist-card.active {
    background-color: #FF5E1F;
    border-color: #E4E1DF;
    box-shadow: rgba(255, 255, 255, 0.52) 0px 10px 100px -20px, rgba(0, 0, 0, 0.3) 0px -10px 60px -30px;
} */




/* 
/* Responsive adjustments */
@media (max-width: 481px) {
    .playlist-card {
        width: 30%; /* Adjusts card width on smaller screens */
    }
}


@media (max-width: 768px) {
    .playlist-card {
        width: 45%; /* Adjusts card width on smaller screens */
    }
}

@media (max-width: 480px) {
    .playlist-card {
        width: 100%; /* Stacks cards vertically on mobile */
    }
}
 */
