/* General Styling */

// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 300 to 800

.open-sans-<uniquifier> {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 400 to 800

.eb-garamond-<uniquifier> {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

body {
    background-color: #1e1e1e;
    color: #f5f5f5;
    font-family: Open Sans, sans-serif;
/*     display: flex;
    justify-content: center;
    align-items: center; */
    height: 100%;
    margin: 0;
}

.container {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin: 10px 0 20px 0;
    padding: 0px 0 20px 0;
}

.heading {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.sub_heading {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    font-family: EB Garamond, serif;
    font-weight: 400;
}

.sub_heading h2 {
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 0px;
}

h1 {
    font-size: 26px;
    margin-bottom: 20px;
}

.sound-card {
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    width: 90%; /* Adjust to fit on smaller screens */
    max-width: 300px;
    margin: 10px auto;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s, border 0.3s;
    border: 2px solid transparent;
}

.sound-card h3 {
    margin: 0;
    font-size: 18px;
    font-weight: 400;
}

input[type="range"] {
    width: 100%;
    margin-top: 15px;
    -webkit-appearance: none;
    appearance: none;
    background-color: #555;
    height: 5px;
    border-radius: 5px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background-color: #f5f5f5;
    border-radius: 50%;
    cursor: pointer;
}

.sound-card.active, .playlist-card.active {
    background-color: #FF5E1F !important;
    border-color: #F5F5F5;
    box-shadow: rgba(255, 255, 255, 0.52) 0px 10px 100px -20px, rgba(0, 0, 0, 0.3) 0px -10px 60px -30px;

}

/* Responsive Design */
@media (min-width: 320px) {
    .container {
        width: 100%;
    }

    .sound-card {
        max-width: 110px;
        margin: 15px;
    }
    .sound-card h3 {
        font-size: 14px;
    }

    h1 {
        font-size: 22px;
    }
}

@media (min-width: 768px) {
    .container {
        width: 100%;
    }

    .sound-card {
        max-width: 250px;
        margin: 15px;
    }

    h1 {
        font-size: 28px;
    }
}

@media (min-width: 1024px) {
    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .sound-card {
        max-width: 200px;
        margin: 15px;
    }

    h1 {
        font-size: 32px;
    }
}





/* Playlist Section Styling */
.playlist-section {
    margin-top: 40px;
}

.playlist-flex {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    align-content: center;
    width: auto;
    margin: 30px 10px 10px 10px;
}

.playlist-card {
    background-color: #333;
    border-radius: 10px;
    overflow: hidden;
    width: 175px;
    height: 270px !important;
    position: relative;
    cursor: pointer;
    border: 2px solid transparent;
    transition: all 0.4s ease;
}

.playlist-card:hover {
    transform: scale(1.05);
}

.playlist-card img {
    width: 100%;
    height: auto;
}

.playlist-info {
    padding: 10px;
    text-align: center;
}

.playlist-info h3 {
    font-size: 1rem;
    color: #f5f5f5;
}

.playlist-info p {
    font-size: 0.8rem;
    color: #bbb;
}


/* Different gradient backgrounds for each playlist card */
.playlist-card[data-sound="lofi"]:hover {
    background: rgb(38,141,115);
    background: linear-gradient(135deg, rgba(38,141,115,1) 30%, rgba(16,80,63,1) 80%);
}

.playlist-card[data-sound="jazz"]:hover  {
    background: rgb(224,178,76);
    background: linear-gradient(135deg, rgba(224,178,76,1) 30%, rgba(166,67,19,1) 80%);
}

.playlist-card[data-sound="meditation"]:hover  {
background: rgb(4,147,145);
background: linear-gradient(135deg, rgba(4,147,145,1) 30%, rgba(24,6,49,1) 80%);
}

.playlist-card[data-sound="dinner"]:hover  {
background: rgb(222,83,43);
background: linear-gradient(135deg, rgba(222,83,43,1) 30%, rgba(69,18,51,1) 80%);
}

.playlist-card[data-sound="longdrive"]:hover  {
background: rgb(253,148,80);
background: linear-gradient(135deg, rgba(253,148,80,1) 30%, rgba(99,7,26,1) 80%);
}

.playlist-card[data-sound="bollywood"]:hover  {
 background: rgb(234,97,49);
background: linear-gradient(135deg, rgba(234,97,49,1) 30%, rgba(158,16,7,1) 80%); 
}

.playlist-card[data-sound="cozysunday"]:hover  {
background: rgb(204,114,41);
background: linear-gradient(135deg, rgba(204,114,41,1) 30%, rgba(84,33,8,1) 80%);
}

.playlist-card[data-sound="productivity"]:hover  {
background: rgb(39,129,192);
background: linear-gradient(135deg, rgba(39,129,192,1) 30%, rgba(25,42,58,1) 80%);
}

.playlist-card[data-sound="gym"]:hover  {
background: rgb(0,133,41);
background: linear-gradient(135deg, rgba(0,133,41,1) 30%, rgba(4,9,16,1) 80%);
}

.playlist-card[data-sound="indianclassical"]:hover  {
background: rgb(129,59,27);
background: linear-gradient(135deg, rgba(129,59,27,1) 30%, rgba(36,15,6,1) 80%);
}

.playlist-card[data-sound="morning"]:hover  {
background: rgb(253,160,47);
background: linear-gradient(135deg, rgba(253,160,47,1) 30%, rgba(142,60,0,1) 80%);
}

.playlist-card[data-sound="rainymood"]:hover  {
background: rgb(26,123,112);
background: linear-gradient(135deg, rgba(26,123,112,1) 30%, rgba(4,38,34,1) 80%);
}




/* FOOTER CSS */

footer {
  background: #1e1e1e;
  width: 100%;
  padding: 50px 0px 50px 0px;
}

.footer-links {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: center;
  gap: 20px;
  padding: 0px;
  margin: 20px;
}

.footer-links a {
  color: #cccccc;
  text-decoration: none;
}

.footer-social-links {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: center;
  gap: 20px;
  color: #cccccc;
  padding: 0px;
  margin: 30px 20px 20px 20px;
}

.s1 {
  border: 0;
  height: 1px;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(204, 204, 204, 1) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  line-height: 25px;
  margin:20px;
}

.footer-copyright-text a {
  color: #cccccc;
  text-decoration: none;
}

.footer-copyright-text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: #cccccc;
  text-decoration: none;
  padding: 0px;
  margin: 20px;
}
.footer-copyright-text a {
  font-weight: 500;
  color: #F5F5F5 !important;
}
#heart-icon {
  color: #ff0000 !important;
}




